.example-spacer {
  flex: 1 1 auto;
}

.main-body {
  padding-top: 20px;
  margin: 0 auto;
  max-width: 1150px;
  height: 70px;
}

.mat-form-field {
  width: 250px;
}

.table-container {
  width: 100%;
}

.th {
  height: 70px;
}